<div class="full">

    <div style="align-content: center; width: 100%;">
        <img src="assets/images/profile.png" style="image-orientation: flip; margin-left: 45%;">
    </div>

    <div class="body">
        
        <table  style="margin-left: 25%; padding-bottom: 30px;">
            <tr>
                <th> Name  </th>
                <td > {{user.name}} </td>
            </tr>
            <tr>
                <th> Mobile</th>
                <td > {{user.phoneNum}} </td>
            </tr>
            <tr>
                <th> Email </th>
                <td> {{user.email}} </td>
            </tr>
            <tr>
                <th> Username </th>
                <td> {{user.username}} </td>
            </tr>


        </table>


    </div>

</div>