
<div style="background-image: url('../assets/images/Ihome.jpg'); background-size:cover; height: 1000px; ">
    
    <div class="box" style=" filter: alpha(opacity = 50); ">
        <h1 class="display-5" style="font-size: 60px;">Skylines Flight Reservations</h1>
        <p class="lead" style="font-size: 20px;">Welcome </p>
        <p style="font-size:30px;">Skylines reservation website is a flight reservation website by Vamsi Technologies.</p>
        <p style="font-size:30px;">Skylines only supports for domestic flights.</p>
        <p style="font-size:30px;">Here the user can register, login, book flights, review bookings and can also cancel bookings.</p>
        <hr class="my-4" style="color: black;">
        <p style="font-size:50px;">To book, check bookings or cancel,<br> Please create an account or Login</p>
        
    </div>

</div>