<div style="background-color:  rgba(236,91,83,0.8); background-size:cover; height: 830px; font-size: 15px;">
    <div class="offset-lg-1 offset-md-1 col-lg-10 col-md-10" id="rcorners1">
        <div class="jumbotron" style="background-color: transparent;">

            <h4 style="font-size:35px;">Welcome to Skylines</h4>
            <p style="font-size:30px;">This is a flight reservation website</p>

            <p style="font-size:20px">The creator of this website is Vamsi Damisetty.
                Who has knowledge and experience in fields like Java, Angular and Spring.</p>
            <p style="font-size:20px">This website allows user to register to our website. Search for flights and book
                them.
                And also can view and cancel bookings anytime.
            </p>
        </div>
    </div>



    <div class="offset-lg-1 offset-md-1 col-lg-10 col-md-10">
        <br><br>
        <div class="container" id="rcorners1">
          <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="card" style="width: 18rem;" style="background-color: transparent; " >
                  <div class="flip-card" style="background-size: cover;">
                      <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-color: transparent;">
                          <img src="../../assets/images/me.png" alt="Avatar" style="width:200px;height:200px;">
                        </div>
                        <div class="flip-card-back" style="background-color: transparent;">
                          <br>
                          <h1>Developer</h1>
                          <p>Vamsi Damisetty</p>
                          <p>We love that guy</p>
                        </div>
                      </div>
                    </div>
            </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="card" style="width: 18rem;" style="background-color: transparent;">
                  <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-color: transparent;">
                          <img src="../../assets/images/me2.png" alt="Avatar" style="width:200px;height:200px;">
                        </div>
                        <div class="flip-card-back" style="background-color: transparent;">
                       
                          <h1>Technologies Used</h1>
                          <p>Angular,HTML,CSS</p>
                          <p>Spring Boot,JPA with Hibernate</p>
                        </div>
                      </div>
                    </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="card" style="width: 18rem;" style="background-color: transparent; " >
                  <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-color: transparent;">
                          <img src="../../assets/images/me3.png" alt="Avatar" style="width:200px;height:200px;">
                        </div>
                        <div class="flip-card-back" style="background-color: transparent;">
                          <br>
                          <h1>Contact Us</h1>
                          <p>Email</p>
                          <p>vamsik586@gmail.com</p>
                        </div>
                      </div>
                    </div>
             </div>
        </div>
    </div>
</div>